@model IEnumerable<FaixaEtariaViewComponents.Models.Pessoa>


<div class="panel panel-primary">
    <div class="panel-heading">Adolescentes Cadastrados <span class="badge">@Model.Count()</span></div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Idade)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Idade)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PessoaId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.PessoaId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.PessoaId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>